<head>
  <script type="text/javascript">

  </script>
</head>
<body>
  <div class="search-block">
    <%= form_with(url: "/main/search", method: "get", local: true) do %>
      <% @genres.each do |genre| %>
        <div>
          <%= check_box_tag(genre, true, @selected_genres[genre]) %>
          <%= label_tag(genre.to_sym, genre) %>
        </div>
      <% end %>
      <input style="width: 170px;" id="search_field" name="search_field" placeholder="Search anime by name" type="text">
      <button class="btn btn-default" type="submit">Поиск</button>
    <% end %>
  </div>
  <div class="main-block">
    <div class="sort-block">
      <ul>
        <li style="font-size: 25px;">
          Sort by:
        </li>
        <li>
          <a class="btn btn-default" href="/main/index?order=name"> name </a>
        </li>
        <li>
          <a class="btn btn-default" href="/main/index?order=studio"> studio </a>
        </li>
        <li>
          <a class="btn btn-default" href="/main/index?order=year"> year </a>
        </li>
        <li>
          <a class="btn btn-default" href="/main/index?order=rank"> rank </a>
        </li>
        <li>
          <a class="btn btn-default" href="/main/index?order=kind"> kind </a>
        </li>
      </ul>
    </div>

    <div>    
      <% @animes.each do |anime| %>
        <ul>    
          <li><%= anime.name %></li>
        </ul>
      <% end %>
      <%= paginate @animes %>
    </div>
  </div>
</body>











