<head>
  <script type="text/javascript">
      reload_page = function() {
        document.location.reload(true);
      };

    
  </script>
</head>
<body data-no-turbolink="true">
  <h1>ANIME CATALOG</h1>

  <ul>
    <li>
      <a href="/main/index?order=name"> By name </a>
    </li>
    <li>
      <a href="/main/index?order=studio"> By studio </a>
    </li>
    <li>
      <a href="/main/index?order=year"> By year </a>
    </li>
    <li>
      <a href="/main/index?order=rank"> By rank </a>
    </li>
    <li>
      <a href="/main/index?order=kind"> By kind </a>
    </li>
  </ul>

  <div>
    <%= form_with(url: "/main/index", method: "get") do %>
      <% @genres.each do |genre| %>
        <%= check_box_tag(genre, true, @selected_genres[genre]) %>
        <%= label_tag(genre.to_sym, genre) %>
      <% end %>
      <%= submit_tag("Поиск") %>

      <% @animes.each do |anime| %>
        <ul>    
          <li><%= anime.name %></li>
        </ul>
      <% end %>

      <%= paginate @animes %>
    <% end %>
  </div>
</body>











