<head>
  <script type="text/javascript">

  </script>
</head>
<body data-no-turbolink="true">
  <h1>ANIME CATALOG</h1>

  <ul>
    <li>
      <a href="/main/index?order=name"> By name </a>
    </li>
    <li>
      <a href="/main/index?order=studio"> By studio </a>
    </li>
    <li>
      <a href="/main/index?order=year"> By year </a>
    </li>
    <li>
      <a href="/main/index?order=rank"> By rank </a>
    </li>
    <li>
      <a href="/main/index?order=kind"> By kind </a>
    </li>
  </ul>

  <a href="/main/parse" class="btn btn-default">Parse</a>

  <div>
    <%= form_with(url: "/main/search", method: "get", local: true) do %>
      <% @genres.each do |genre| %>
        <%= check_box_tag(genre, true, @selected_genres[genre]) %>
        <%= label_tag(genre.to_sym, genre) %>
      <% end %>
      <input id="search_field" name="search_field" placeholder="Search anime by name" type="text">
      <%= submit_tag("Поиск") %>

      <% @animes.each do |anime| %>
        <ul>    
          <li><%= anime.name %></li>
        </ul>
      <% end %>

      <%= paginate @animes %>
    <% end %>
  </div>
</body>











