<head>
  <script type="text/javascript">

  </script>
</head>
<body>
  <div class="search-block">
    <%= form_with(url: "/main/search", method: "get", local: true) do %>
      <% @genres.each do |genre| %>
        <div>
          <%= check_box_tag(genre, true, @selected_genres[genre]) %>
          <%= label_tag(genre.to_sym, genre) %>
        </div>
      <% end %>
      <input style="width: 170px;" id="search_field" name="search_field" placeholder="Search anime by name" type="text">
      <button class="btn btn-default" type="submit">Поиск</button>
    <% end %>
  </div>

  <div class="main-block">
    <div class="sort-block">
      <ul>
        <li style="font-size: 25px;">
          Sort by:
        </li>
        <li>
          <a class="btn btn-default" href="<%= query_order("name") %>"> name </a>
        </li>
        <li>
          <a class="btn btn-default" href="<%= query_order("studio") %>"> studio </a>
        </li>
        <li>
          <a class="btn btn-default" href="<%= query_order("year") %>"> year </a>
        </li>
        <li>
          <a class="btn btn-default" href="<%= query_order("rank") %>"> rank </a>
        </li>
        <li>
          <a class="btn btn-default" href="<%= query_order("kind") %>"> kind </a>
        </li>
      </ul>
    </div>

    <% @animes.each do |anime| %> 
      <div class="anime">
        <div style="font-size: 30px;" class="anime-name">
          <%= anime.name %>
        </div>

        <div style="font-size: 18px;" class="anime-info">
          <div class="anime-kind-block" style="margin-left: 60px; border-right: 1px solid rgb(120, 120, 120);">
            <%= anime.kind.to_s.strip.length == 0 ? '...' : anime.kind %> 
          </div>
          <div class="anime-kind-block" style="border-right: 1px solid rgb(120, 120, 120);">
            <%= anime.studio.to_s.strip.length == 0 ? '...' : anime.studio %> 
          </div>
          <div class="anime-kind-block" style="border-right: 1px solid rgb(120, 120, 120);">
            <%= anime.year.to_s.strip.length == 0 ? '...' : anime.year %> 
          </div>
          <div class="anime-kind-block">
            rank <%= anime.rank.to_s.strip.length == 0 ? '...' : anime.rank %>
          </div>
        </div>

        <div>
          <div style="" class="anime-image">
            <img src="<%= anime.image_href %>">
          </div>

          <div style="" class="anime-description">
            <%= anime.description %>
          </div>
        </div> 
        
        <div class="anime-genres">
          <%= anime.genre.map { |genre| genre.genre }.join(', ') %>
        </div>
      </div> 
    <% end %>

    <div class="page-block">  
      <%= paginate @animes %>
    </div>
  </div>
</body>











